<!DOCTYPE html>
<html>

<head>
    <title>lab3</title>
</head>

<body>
    <ul>
        <li><a href="http://localhost:8080/tab1">Основная страница</a></li>
        <li><a href="http://localhost:8080/tab2">Задание</a></li>
        <li><a href="http://localhost:8080/tab3">Таблица</a></li>
    </ul>
    <p>Работу выполняли: Иванов Иван Иванович</p>
    <p>Номер группы: ИКБО-01-17</p>
    <p>Номер индивидуального задания: 3</p>
    <p>Текст индивидуального задания: «Подсчет четных и нечетных символов. Числа должны поступать
        в виде строки с некоторым разделителем (пример: «11, 32, 1, 22, 14»); в
        массиве; списком чисел.»</p>
</body>

</html>